@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.color-blue {
    color: #2947A9;
}

.text-400 {
    font-weight: 400;
}

.text-600 {
    font-weight: 600;
}

.text-700 {
    font-weight: 700;
}

.text-800 {
    font-weight: 800;
}

.hero-section {
    background-image: url(../images/hero-section/hero.png);
    background-size: auto;
    background-repeat: no-repeat;
}
.hero-section-left >h1 {
    font-size: 2rem;

}

.hero-section-right-card {
    background-color: #3559C7;
    
}

.color-neutral {
    color:#858EAD;
    ;
}

.white-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 27.0741px -1.46346px rgba(17, 24, 39, 0.05);
    border-radius: 2.92693px;
    width: 16rem;
}

.blue-box {
    background: #2947A9;
    box-shadow: 0px 0px 27.0741px -1.46346px rgba(17, 24, 39, 0.05);
    border-radius: 2.92693px;
    width: 16rem;
}

.about-us-section  {
    /* position: relative; */

}
.about-section-right {
    /* position: absolute; */
    /* right: 20rem; */
    /* top: 8rem; */
    background-color: #2947A9;
    /* width: 25rem; */
    max-height: 28rem;
    opacity: 0.9;

}

@media (min-width:768px) {
    .navbar-content{
        width: 100%;
        margin-left:0rem;
    }
}

@media (min-width:1000px) {
    .navbar-content{
        width: 100%;
        margin-left:20rem;
    }

.hero-section {
    min-height: 665px;
    
    }

    .hero-section-left >h1 {
        font-size: 4rem;
    
    }

    .about-us-section  {
        position: relative;
    
    }
    .about-section-right {
        position: absolute;
        right: 20rem;
        top: 8rem;
        width: 25rem;
        
    
    }
}

@media (min-width:1440px) {
    .navbar-content{
        width: 100%;
        margin-left:26rem;
    }
}


